services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      - PYTHONUNBUFFERED=1
      - GEMINI_API_KEY=AIzaSyDZ5DgEU_nwIfqnA16RYmHkj-jnkt917G0

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
